.lux_room {
    width: 500px;
    height: 480px;
    background-color: #35302C;
    border-radius: 40px;
    position: relative;
}
.lux_room img {
    display: block;
    width: 500px;
    height: 272px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-fit: cover;
    object-position: center;
}
.room_class_lux {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 20px;
}
.room_desc_lux {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
}
.detail_button_lux {
    width: 220px;
    height: 40px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.price_text_lux {
    color: white;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 42px;
    right: 61px;
}