*{
    margin: 0;
    padding: 0;
}
body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #C5B4B4;
}
header {
    background-color: #35302C;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: 800px;
    height: 800px;
}