.lux_room_info {
    width: 500px;
    height: 580px;
    background-color: #35302C;
    border-radius: 40px;
    position: relative;
    margin-top: 100px;
}
.lux_room_info img {
    display: block;
    width: 500px;
    height: 272px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-fit: cover;
    object-position: center;
}
.room_class_lux_info {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 20px;
}
.room_desc_lux_info {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
}
.detail_button_info {
    width: 220px;
    height: 40px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.price_text_lux_info {
    color: white;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 42px;
    right: 61px;
}
.horizontal_line1_info {
    width: 462px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 392px;
    left: 19px;
    border-radius: 1px;
}
.horizontal_line2_info {
    width: 462px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 482px;
    left: 19px;
    border-radius: 1px;
}
.room_stats_lux_info {
    position: absolute;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    top: 406px;
    padding-left: 151px;
    display: flex;
}
.room_size_lux_icon_info img {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 404px;
    left: 124px;
    border-radius: 0px;
}
.room_benefits_lux_info {

    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: 455px;
    left: 124px;
    display: flex;
}
.room_persons_lux_icon_info img {
    width: 11px;
    height: 20px;
    position: absolute;
    display: block;
    top: 405px;
    left: 353px;
    border-radius: 0px;
}
.room_conditioning_lux_icon_info img {
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    left: 96px;
    top: 453px;
    border-radius: 0px;
}
.room_eye_lux_icon_info img {
    width: 20px;
    height: 12.7px;
    position: absolute;
    display: block;
    left: 236px;
    top: 457px;
    border-radius: 0px;
}
.room_wifi_lux_icon_info img {
    width: 20px;
    height: 16.5px;
    position: absolute;
    display: block;
    left: 338px;
    top: 455px;
    border-radius: 0px;
}