.main_info {
    width: 920px;
    height: 550px;
    background-color: #35302C;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    position: relative;
}
.main_info img {
    display: block;
    width: 452px;
    height: 534px;
    float: right;
    margin: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.main_info_title {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    padding-top: 126px;
}
.main_info_subtitle {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    padding-top: 44px;
    padding-left: 48px;
    padding-right: 48px;
}