@import "../styles/reset.css";
@import "../components/comfort-room/styles.module.css";
@import "../components/lux-room/styles.lux.module.css";
@import "../components/standart-room/styles.standart.module.css";
@import "../components/login/styles.login.module.css";
@import "../components/registration/styles.registration.module.css";
@import "../components/main-info/styles.main.info.module.css";
@import "../components/econom-room-info/styles.eco.info.module.css";
@import "../components/econom-room/styles.eco.module.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
