.footer {
    background-color: #35302C;
    width: auto;
    height: 262px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer_logo {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.footer_logo img {
    margin-top: 38px;
    width: 140px;
    height: 140px;
}
.footer_name{
    color: #AFAFAF;
    font-weight: 500;
    font-size: 24px;
    padding-top: 15px;
}
.footer_title {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 38px;
    margin-left: 99px;
}
.footer_hotel_desc {
    font-weight: 500;
    font-size: 24px;
    margin-right: 84px;
    margin-bottom: 40px;
    height: 29px;
    text-align: left;
    width: auto;
    color: white;
}
.footer_contacts {
    font-weight: 500;
    color: white;
    font-size: 24px;
    text-align: left;
    margin-bottom: 40px;
}
.footer_subtitle_hotel {
    font-weight: 500;
    font-size: 16px;
    color: #AFAFAF;
    display: flex;
    flex-direction: column;
    margin-left: 99px;
    margin-top: 38px;
}
.footer_about_hotel {
    margin-bottom: 11px;
    text-align: left;
    color: #AFAFAF;
}
.footer_action {
    margin-bottom: 11px;
    text-align: left;
    color: #AFAFAF;
}
.footer_rooms {
    margin-bottom: 11px;
    text-align: left;
    color: #AFAFAF;
}
.footer_reviews {
    text-align: left;
    color: #AFAFAF;
}
.footer_subtitle_contacts {
    margin-top: 38px;
    font-weight: 500;
    font-size: 16px;
    color: #AFAFAF;
    display: flex;
    flex-direction: column;
}
.footer_adress {
    margin-bottom: 11px;
    text-align: left;
}
.footer_mail {
    margin-bottom: 11px;
    text-align: left;
}
.footer_telephone {
    margin-bottom: 11px;
    text-align: left;
}
.footer_social {
    display: flex;
}
.footer_social {
    align-items: center;
}
.footer_inst {
    margin-right: 14px;
}
.footer_facebook {
    margin-right: 14px;
}
.footer_twitter {
    margin-right: 14px;
}