.login {
    width: 600px;
    height: 410px;
    background-color: #35302C;
    border-radius: 40px;
    position: relative;
    padding-top: 59px;
}
.log_title {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.log_subtitle {
    color: #AFAFAF;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    margin-top: 18px;
}
.log_input {
    background: transparent;
    border: none;
}
.log_input input {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    width: 320px;
    height: 20px;
    border-bottom: 1px solid #ffffff;
}
.log_input_email {
    position: absolute;
    left: 140px;
    top: 192px;
    border-bottom: 1px solid #ffffff;
}
.email_placeholder::placeholder {
    color: #AFAFAF;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
}
.log_input_password {
    position: absolute;
    left: 140px;
    top: 240px;
    border-bottom: 1px solid #ffffff;
}
.password_placeholder::placeholder {
    color: #AFAFAF;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    width: 320px;
    height: 20px;
    border-bottom: 1px solid #ffffff;
}
.log_input_email input[type="email"],
.log_input_password input[type="password"] {
    background: transparent;
    border: none;
}

.log_input_email input[type="email"]::placeholder,
.log_input_password input[type="password"]::placeholder {
    color: #AFAFAF;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
}

.log_input_email input[type="email"]:hover,
.log_input_email input[type="email"]:focus,
.log_input_password input[type="password"]:hover,
.log_input_password input[type="password"]:focus {
    outline: 0;
    outline-offset: 0;
}
.log_button {
    width: 180px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 12px;
    border-radius: 15px;
    position: absolute;
    top: 435px;
    left: 209px;
}
.log_have_account {
    color: #ffffff;
    font-weight: 600;
    font-size: 8px;
    position: absolute;
    top: 340px;
    left: 215px;
}
.log_alternative {
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    top: 340px;
    left: 226px;
}

.log_lost_password {
    color: #ffffff;
    font-weight: 600;
    font-size: 8px;
    position: absolute;
    top: 270px;
    left: 255px;
}
