.registration {
    width: 600px;
    height: 540px;
    background-color: #35302C;
    border-radius: 40px;
    position: relative;
    padding-top: 57px;
}
.reg_title {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}
.reg_subtitle {
    color: #AFAFAF;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    margin-top: 18px;
}
.reg_input_number input[type="text"],
.reg_input_surname input[type="text"],
.reg_input_name input[type="text"],
.reg_input_email input[type="email"],
.reg_input_password input[type="password"] {
    background: transparent;
    border: none;
}
.reg_input_number input[type="text"]::placeholder,
.reg_input_surname input[type="text"]::placeholder,
.reg_input_name input[type="text"]::placeholder,
.reg_input_email input[type="email"]::placeholder,
.reg_input_password input[type="password"]::placeholder {
    color: #AFAFAF;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
}
.reg_input_number input[type="text"]:hover,
.reg_input_number input[type="text"]:focus,
.reg_input_surname input[type="text"]:hover,
.reg_input_surname input[type="text"]:focus,
.reg_input_name input[type="text"]:hover,
.reg_input_name input[type="text"]:focus,
.reg_input_email input[type="email"]:hover,
.reg_input_email input[type="email"]:focus,
.reg_input_password input[type="password"]:hover,
.reg_input_password input[type="password"]:focus {
    outline: 0;
    outline-offset: 0;
}
.reg_input_name {
    border: none;
    position: absolute;
    left: 140px;
    top: 205px;
    border-bottom: 1px solid #ffffff;
}
.reg_input input {
    color: #ffffff;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    width: 320px;
    height: 20px;
}
.reg_input_surname {
    position: absolute;
    left: 140px;
    top: 253px;
    border-bottom: 1px solid #ffffff;
}
.reg_input_email {
    position: absolute;
    left: 140px;
    top: 301px;
    border-bottom: 1px solid #ffffff;
}
.reg_input_number {
    position: absolute;
    left: 140px;
    top: 349px;
    border-bottom: 1px solid #ffffff;
}
.reg_input_password {
    position: absolute;
    left: 140px;
    top: 397px;
    border-bottom: 1px solid #ffffff;
}
.reg_button {
    width: 180px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 12px;
    border-radius: 15px;
    position: absolute;
    top: 445px;
    left: 209px;
}
.reg_have_account {
    color: #ffffff;
    font-weight: 600;
    font-size: 8px;
    position: absolute;
    top: 480px;
    left: 240px;
}
